<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/head::head-metadata}"></th:block>
    <title th:text="${(mode == 'add' ? 'Add new' : 'Edit') + ' book'}"></title>
    <script th:src="@{/book-form.js}"></script>
</head>
<body>
    <div th:replace="~{fragments/header::header}"></div>

    <div class="px-3 mt-5">
        <div class="col-md-6 col-sm-12 border rounded mx-auto p-3">
            <form action="#" th:action="@{/books/{mode}(mode=${mode})}"
                  th:object="${book}" method="POST" class="m-0">
                <h3 class="mb-3 ms-3" th:text="${(mode == 'add' ? 'Add new' : 'Edit') + ' book'}"></h3>

                <input type="hidden" th:field="*{id}">

                <input type="text" th:field="*{title}" name="title"
                       class="form-control" placeholder="Title">

                <input type="text" th:field="*{author}" name="author"
                       class="form-control mt-3" placeholder="Author">

                <textarea th:field="*{description}" name="description"
                          class="form-control mt-3" placeholder="Description"></textarea>

                <input type="text" th:field="*{coverUrl}" name="coverUrl"
                       class="form-control mt-3" placeholder="Cover URL">

                <button type="submit" class="btn btn-primary mt-3"
                        th:text="${mode == 'add' ? 'Add' : 'Save'}"></button>
            </form>
        </div>
    </div>
</body>
</html>