<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/head::head-metadata}"></th:block>
    <title th:text="${user.username}"></title>
</head>
<body>
    <div th:replace="~{fragments/header::header}"></div>

    <div class="container mt-3">
        <h3 class="text-center" th:text="${user.username + '''s reviews'}"></h3>

        <div th:each="review : ${user.reviews}" class="p-2 w-75 mx-auto">

            <div class="d-flex">
                <a th:href="@{/books/{id}(id=${review.book.id})}" th:text="${review.book.title}" class="text-decoration-none ms-2"></a>
                <p th:text="${#dates.format(review.date, 'dd-MM-yyyy HH:mm')}" class="ms-2 text-muted"></p>
            </div>

            <div class="border rounded p-3 mt-2 mb-0"
                 th:text="${review.content}"
                 style="white-space:pre"></div>
        </div>
    </div>
</body>
</html>